.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: minmax(auto, 442px);
    justify-content: center;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.cards-list__item {
  background-color: $color-default-white;
}
