{% from 'modules/background.twig' import background %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>

		<link rel="stylesheet" href="css/style.min.css{{ version }}">
	</head>

	<body>
		<div class="page">
			{% block header %}
			{% endblock %}

			<main>
				{% block main %}{% endblock %}
			</main>

			{% block footer %}
			{% endblock %}
		</div>

		{% include 'modules/scripts.twig' %}
	</body>
</html>
