<a class="logo {{ bemMix }}" {{ page == 'index' ? 'aria-current="page"' : 'href="index.html"' }}>
	<span class="visually-hidden">На главную.</span>

	<img src="img/svg/logo.svg" width="119" height="23" alt="Логотип {{ projectName }}.">
</a>
