<a class="logo" {{ page == 'index' ? 'aria-current="page"' : 'href="index.html"' }}>
	<span class="visually-hidden">На главную.</span>

	<svg width="70" height="38" role="img" focusable="false">
		<use xlink:href="img/svg/logo.svg#logo"/>
	</svg>
</a>
