<footer class="page-footer">
	<div class="page-footer__inner container">
		{% include 'logo.twig' with { bemMix: 'page-footer__logo' } %}

		<nav class="page-footer__nav-wrapper">
			{% include 'nav.twig' with { bemMix: 'page-footer__nav' } %}
		</nav>

		{% include 'socials.twig' with { bemMix: 'page-footer__socials' } %}
	</div>
</footer>
