<div class="page-header">
	<header class="page-header__container container">
		{% include 'logo.twig' with { bemMix: 'page-header__logo' } %}

		<a class="page-header__link" href="{{ tel.url }}">{{ tel.title }}</a>
	</header>

	{% include 'teaser.twig' with teaser|merge({ bemMix: 'page-header__teaser container' }) %}
</div>
