<div class="video" data-video>
	<div class="video__player" id="{{ youtube }}" data-youtube></div>

	<a class="video__control" href="https://youtube.com/embed/{{ youtube }}" data-control {{ background(poster) }}>
		<span class="visually-hidden">Проиграть видео.</span>
	</a>
</div>
